/* Footer Style */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(104, 104, 104);
    color: white;
    box-sizing: border-box;
    padding: 40px;
    grid-row: 4/4;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.wrapper-footer{
    max-width: var(--max-page-width);
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

footer li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    min-width: fit-content;
    white-space: nowrap;
}

footer li a:hover{
    color: var(--main-color-hover);
}

footer ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: fit-content;
    align-items: end;
    list-style: none;
    padding-inline-start: 0;
}

footer img{
    width: 100%;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-logo{
    height: 100px;
}

.copyright span{
    display: flex;
    min-width: fit-content;
    font-size: 16px;
    white-space: nowrap;
}

.social-media{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    justify-content: center
}

.social-media img{
    width: 40px;
    cursor: pointer;
    transition: all 175ms ease-in-out;
}

.social-media img:hover{
    transform: scale(1.1);
    transition: all 175ms ease-in-out;
}

@media(max-width: 700px){

    .footer-logo{
        height: 70px;
    }
}


@media (max-width: 540px){
    .logo{
        width: 100px;
    }
    .wrapper-footer{
        flex-direction: column-reverse;
        gap: 20px;
    }
    footer{
        height: 400px;

    }

    footer li{
        width: 100%;
        text-align: center;
    }
}

@media(max-width: 600px){
    footer li{
        font-size: 14px !important;
    }

    footer ul{
        gap: 5px !important;
    }
    .nav-links.openNav {
        width: 100%;
    }
}

@media(max-width: 450px){
    footer{
        padding: 10px;
    }
}

@media(max-width: 370px){

    footer{
        height: fit-content;
    }
    .wrapper-footer{
        flex-direction: column-reverse;
        gap: 30px;
    }

    footer ul{
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-inline-start: 0px;
        text-align: center;
        align-items: unset;
    }
}
