{% extends 'page.html' %}
{% load i18n %}
{% load markdown_extras %}

{% block stylesheets %}
<link rel="stylesheet" href="../static/style/athlet.css">
{% endblock %}

{% block page %}'athlets'{% endblock %}

{% block content %}

<h4>{{ athlet.get_category_display }}</h4>  

<div class="gallery">
    {% for image in images %}
        {% if image.image.width < image.image.height %}
            <img onclick="openImg('{{ image.image.url }}')" class="row-span-2" src="{{ image.image.url }}" alt="{{ image.alt }}" style="object-position: {{ athlet.position }};">
        {% else %}
            <img onclick="openImg('{{ image.image.url }}')" src="{{ image.image.url }}" alt="{{ image.alt }}" style="object-position: {{ athlet.position }};">
        {% endif %}    
    {% endfor %}
</div>

<div id="image-container" class="image-container d-none">
    <img onclick="closeImg()" class="close-cross" src="../../media/public/closeCross.svg" alt="close Cross">
    <img id="detail-image" class="img-detail-view" src = "">
</div>

{% endblock %}