{% extends 'page.html' %}
{% load i18n %}
{% block stylesheets %}
<link rel="stylesheet" href="../static/style/athlets.css">
{% endblock %}

{% block page %}'athletes'{% endblock %}

{% block content %}

<section class="bg-white py-10 sm:py-24">
  <div class="max-w-screen-xl">
      <div class="mx-auto mb-8 lg:mb-16">
          <div class="max-w-4xl">
              <p class="text-base/7 font-semibold text-red">
                {% if LANGUAGE_CODE == 'de' %}
                Athleten
                {% else %}
                Athletes
                {% endif %}
              </p>
              <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl mb-10">
                  {% if LANGUAGE_CODE == 'de' and page.title_de %}
                      {{ page.title_de }}
                  {% else %}
                      {{ page.title }}
                  {% endif %}
              </h1>
            </div>
            <div class="lg:pr-8">
              <div class="font-light text-gray-500 prose prose-headings:text-red prose-a:text-red prose-a:no-underline hover:prose-a:underline min-w-full">
                  {% if LANGUAGE_CODE == 'de' and page.text_de %}
                      {{ page.text_de | safe }}
                  {% else %}
                      {{ page.text | safe }}
                  {% endif %}
              </div>
          </div>
      </div> 
      {% if athletes %}
      <ul role="list" class="divide-y divide-gray-100">
          {% for athlete in athletes %}
          <li class="">
            <a class="w-full relative flex justify-between py-5" href="{% url 'athlete' athlete.id %}">
            <div class="flex gap-x-4 pr-6 sm:w-1/2 sm:flex-none">
              <img class="size-12 flex-none rounded-full bg-gray-50 object-cover" src="{{ athlete.hero_img.url }}" alt="">
              <div class="min-w-0 flex-auto items-center flex">
                <p class="text-sm/6 font-semibold text-gray-900">
                    {{ athlete.first_name }} {{ athlete.last_name }}
                </p>
              </div>
            </div>
            <div class="flex items-center justify-between gap-x-4 sm:w-1/2 sm:flex-none">
              <div class="hidden sm:block">
                <p class="text-sm/6 text-gray-900">{{ athlete.get_category_display }}</p>
              </div>
              <svg class="size-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
              </svg>
            </div>
          </a>
          </li>
          {% endfor %}
        </ul>
        
      {% else %}
        {% if LANGUAGE_CODE == 'de' %}
        <div>
            Die Webseite befindet sich noch im Aufbau, deshalb sind aktuell keine Athleten erfasst. Schauen
            Sie gerne zu einem späteren Zeitpunkt wieder vorbei.
        </div>
        {% else %}
        <div>
            The website is still under construction,
            therefore no athletes are currently recorded. Feel free to check back at a later date.
        </div>
        {% endif %}
      {% endif %}
  </div>
</section>

{% endblock %}