{% extends 'page.html' %}
{% load i18n %}

{% block page %}'blog'{% endblock %}

{% block content %}
{% if posts %}


<section class="bg-white py-10 sm:py-24">
    <div class="max-w-screen-xl">
        <div class="mx-auto mb-8 lg:mb-16">
            <div class="max-w-4xl">
                <p class="text-base/7 font-semibold text-red">Blog</p>
                <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl mb-10">
                    {% if LANGUAGE_CODE == 'de' and page.title_de %}
                        {{ page.title_de }}
                    {% else %}
                        {{ page.title }}
                    {% endif %}
                </h1>
              </div>
              <div class="lg:pr-8">
                <div class="font-light text-gray-500 prose prose-headings:text-red prose-a:text-red prose-a:no-underline hover:prose-a:underline min-w-full">
                    {% if LANGUAGE_CODE == 'de' and page.text_de %}
                        {{ page.text_de | safe }}
                    {% else %}
                        {{ page.text | safe }}
                    {% endif %}
                </div>
            </div>
        </div> 
        <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
            {% for post in posts %}
            <article class="p-4 bg-white rounded-lg border border-gray-200 shadow-md">
                <a href="{% url 'single_post' post.id %}">
                <div class="aspect-w-16 aspect-h-11 mb-4">
                     <img class="mb-5 rounded-lg object-cover" src="{{ post.image.image.url }}" alt="{{ post.image.alt }}">
                </div>
            </a>
                <div class="flex items-center gap-x-4 text-xs justify-between">
                    <time datetime="2020-03-16" class="text-gray-500">{{ post.postDate }}</time>
                    <span class="text-xs font-semibold rounded" style="color: {{ post.tag.color }};">{{ post.tag.name }}</span>
                  </div>
                <h2 class="my-2 text-2xl font-bold tracking-tight text-gray-900">
                    {% if LANGUAGE_CODE == 'de' and post.title_de %}
                        <a href="{% url 'single_post' post.id %}">{{ post.title_de }}</a>
                    {% else %}
                        <a href="{% url 'single_post' post.id %}">{{ post.title }}</a>
                    {% endif %}
                </h2>
                <p class="mb-4 font-light text-gray-500">
                    {% if LANGUAGE_CODE == 'de' and post.content_de %}
                    {{ post.content_de|truncatewords:30|safe }}
                    {% else %}
                    {{ post.content|truncatewords:30|safe }}
                    {% endif %}
                </p>
            </article>
            {% endfor %}
        </div>  
    </div>
</section>


{% elif LANGUAGE_CODE == 'de' %}
<div>
    Die Webseite befindet sich noch im Aufbau, deshalb sind noch keine Blogbeiträge erfasst. Schauen
    Sie gerne zu einem späteren Zeitpunkt wieder vorbei.
</div>
{% else %}
<div>
    The website is still under construction, so no blog posts are recorded yet.
    Feel free to check back at a later date.
</div>
{% endif %}
{% endblock %}